<app-divider>Table Component</app-divider>

<!-- // classNames="striped celled" used to pass through some classnames that will be applied to an element inside a component. -->
<app-table classNames="striped celled" [data]="data" [headers]="headers"></app-table>

<app-divider>Tab Menu</app-divider>
<app-tabs>
  <a class="item" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Biography</a>
  <a class="item" routerLink="companies" routerLinkActive="active" >Companies</a>
  <!-- can also do this -->
  <!-- <a class="item" routerLink="/collections/companies" routerLinkActive="active">Companies</a> -->
  <a class="item" routerLink="partners" routerLinkActive="active">Partners</a>

  <!-- can also property bind routerLink like this. angular will build up a joined link based on the array
  <a class="item" [routerLink]="['./', 'hi', ]" routerLinkActive="active">Biography</a> -->

</app-tabs>
