<!-- Don't do this, this refreshes the entire app -->
<!-- <a href="/elements">Elements</a>
<a href="/collections">Collections</a> -->

<div class="ui container">
  <div class="ui secondary pointing menu">
    <!-- routerLink talks to the router -->
    <!-- when the routerLinkActice is active, the semantic class of 'active' is applied -->
    <a routerLink="/elements" routerLinkActive="active" class="item">Elements</a>
    <a routerLink="/collections" routerLinkActive="active" class="item">Collections</a>
  </div>
  <div class="ui segment">
    <!-- where content goes -->
    <router-outlet></router-outlet>
  </div>
</div>


